.ui.segments 
    h3.ui.top.attached.block.header 
        | <b> {{ curr._id }} </b>
        +apply('controls "right floated" as cls')
        div(style="clear: both")

    .ui.segment
        h2.header.ui {{curr.subject}}
        .ui.message #[code 2 x 2] = {{double(2)}}
        +if('curr.labels')
            .ui.p 
                +each('curr.labels as label')
                    .ui.blue.label {{label}}

        +iff('canSeePrivate()')
            .ui.message.green 
                .ui.p Is able to see private info 
        +else
            .ui.message.red 
                .ui.p IS NOT ABLE TO SEE THE PRIVATE INFO
        +endif 
    .ui.segment 
        .ui.p {{curr.content}}

    .ui.segment 
        btn.inverted.red.icon(on-click="closeRow"): icon.remove Close
        
