.ui.dropdown.item(as-dropdown)
    | Showcase
    icon.dropdown  
    .menu 
        a.item(href="#/showcase/data-table") Data Table
        a.item(href="#/showcase/async-comp") Async Component
        a.item(href="#/showcase/cross-application") Cross Application
        a.item(href="#/showcase/nodejs") NodeJS examples 
