scene(name="showcase/data-table" public)
    include ./data-table/index.pug

scene(name="showcase/async-comp" public)
    include ./async-comp/index.pug

scene(name="showcase/cross-browser" public)
    include ./cross-browser/index.pug
