scene(name="showcase/data-table" public)
    include ./data-table/index.pug

scene(name="showcase/async-comp" public)
    include ./async-comp/index.pug

scene(name="showcase/cross-application" public)
    include ./cross-app/index.pug

scene(name="showcase/nodejs" public)
    include ./nodejs-examples/index.pug
    
scene(name="showcase/components" public)
    components

scene(name="showcase/database" public)
    database