.ui.container
    .ui.segment 
        h3.ui.header Async Component Testing
        .ui.form 
            .fields 
                .field 
                    label Select Language 
                    | {{@.set('aceMode', 'javascript') && ''}}

                    dropdown(
                        data="{{ [{id: 'livescript', name: 'LiveScript'},{id: 'javascript', name: 'Javascript'}] }}"
                        selected-key="{{aceMode}}")
                .field
                    label Select Theme 
                    dropdown(
                        data="{{ [{id: 'dark', name: 'Dark'}, {id: 'light', name: 'Light'}]}}"
                        selected-key="{{aceTheme}}"
                        )

        .ui.equal.width.grid
            .row
                .column 
                    ace-editor(code="{{myJs}}" mode="{{aceMode}}" theme="{{aceTheme}}")                            
                    h4.ui.header Editor Content:
                    pre {{myJs}}
                .column 
                    ace-editor(code="{{myJs2}}" mode="{{aceMode}}" theme="{{aceTheme}}")                            
                    h4.ui.header Editor2 Content:
                    pre {{myJs2}}
