.ui.container
    .ui.big.message(style="padding: 150px auto")
        h1.ui.header Async Component Testing
        .ui.p(style="font-size: 1.2em; margin: 50px;").
            Ractive components can be loaded (or even upgraded to newer versions) in runtime.
                        
        .ui.p(style="margin: 50px;").
            See #[a(href="https://github.com/ceremcem/ractive-synchronizer") ractive-synchronizer]
            for details. 

    .ui.segment 
        .ui.form 
            .fields 
                .field 
                    label Select Language 
                    | {{@.set('aceMode', 'javascript') && ''}}

                    dropdown(
                        data="{{ [{id: 'livescript', name: 'LiveScript'},{id: 'javascript', name: 'Javascript'}] }}"
                        selected-key="{{aceMode}}")
                .field
                    label Select Theme 
                    dropdown(
                        data="{{ [{id: 'dark', name: 'Dark'}, {id: 'light', name: 'Light'}]}}"
                        selected-key="{{aceTheme}}"
                        )

        .ui.equal.width.grid
            .row
                .column 
                    ace-editor(code="{{myJs}}" mode="{{aceMode}}" theme="{{aceTheme}}")                            
                    h4.ui.header Editor Content:
                    pre {{myJs}}
                .column 
                    ace-editor(code="{{myJs2}}" mode="{{aceMode}}" theme="{{aceTheme}}")                            
                    h4.ui.header Editor2 Content:
                    pre {{myJs2}}
