.ui.container
    .ui.basic.segment 
        .ui.big.message(style="padding: 150px auto")
            .ui.hidden.divider
            h1.ui.header.horizontal.divider NodeJS Examples 
            .ui.hidden.divider

            .ui.p(style="font-size: 1.2em; margin: 2em;").
                #[a(href="https://github.com/aktos-io/aktos-dcs-node") aktos-dcs-node] is 
                also used for writing backend apps. 
            .ui.p(style="font-size: 1.2em; margin: 2em;")
                a(href="https://github.com/aktos-io/dcs-nodejs-examples")
                    .ui.label.large.green NodeJS Examples
